.post{
  display: flex;
  align-items: center;
  margin: 10px;
}
.post img{
 width: 50px;
 border-radius: 50%;
}
.text {
  margin-left: 10px;
  min-width: 60%;
  height: 60px;
  background-color: #fff ;
  border-radius: 5px;
}